<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lab 04</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<button onclick="location.href='/punto1'">Ir a solución 1</button>
<button onclick="location.href='/total_confirmados'">Ir a solucion 2</button>
<button onclick="location.href='/top_region'">Ir a solucion 3</button>
<button onclick="location.href='/grafico_arequipa'">Ir a solucion 4</button>
<button onclick="location.href='/grafico_todas_regiones'">Ir a solucion 5</button>

    
</body>
</html>
