<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lab 04</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<button onclick="location.href='/punto1'">Ir a solución 1</button>

<!-- <button onclick="location.href='/punto2'">Ir a solucion 2</button> -->
<button onclick="location.href='/total_confirmados'">Ir a solucion 2</button>

<!-- <a href="/total_confirmados"><button>Ver total de casos confirmados</button></a> -->
    
</body>
</html>
