<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Total Confirmados</title>
<link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <a href="/">Volver a la Página Principal</a>
<h1>Total de casos confirmados: {{ total }}</h1>

<h1>Totales de Casos Confirmados por Región</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Región</th>
                <th>Total Confirmados</th>
            </tr>
        </thead>
        <tbody>
            {% for region, total in totales.items() %}
            <tr>
                <td>{{ region }}</td>
                <td>{{ totales }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
